.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--neutral-300);
  padding-bottom: 50px;
}

.svg {
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.cardWrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.cardWrapper p {
  flex: 1;
  margin: 0;
}

.textWrapper {
  display: flex;
  gap: 10px;
  margin: 20px 14px;
  font-size: var(--text-sm);
  font-weight: 400;
  color: var(--neutral-500);
  z-index: 1;
}

.textWrapper p {
  flex: 1;
  margin: 0;
}

.ul {
  margin: 0;
  padding-left: 24px;
}

.ul li {
  margin-bottom: 10px;
}