.wrapper {
  position: relative;
  min-height: 100vh;
  background-color: var(--neutral-300);
}

.payment {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  left: 14px;
  right: 14px;
  width: auto;
  height: 56px;
  font-size: var(--text-lg);
  font-weight: 800;
  border-radius: 32px;
  color: var(--text-white);
  background-color: var(--accent-300);
}

.payment:hover {
  color: var(--text-white);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 16px;
  padding-bottom: 95px;
}