.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 279px;
  background-color: var(--accent-300);
  border-end-start-radius: 34px;
  border-end-end-radius: 34px;
  z-index: 1;
}

.headerLine {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.h1 {
  font-size: 7.5rem;
  font-weight: 800;
  color: var(--text-white);
  z-index: 1;
  text-align: center;
  line-height: 0.9;
}

.h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  color: var(--text-white);
  margin: 0 14px;
}
.small {
  font-size: 5.5rem;
}