.pm {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-300);
  background-color: var(--text-white);
  padding: 10px 28px;
  border-radius: 34px;
  margin: 14px 14px 0px 14px;
}

.text {
  flex: 1;
  font-weight: 600;
}